- title do
  %h1
    = link_to(nomenclatures_path, class: :back) do
      %i
    = @nomenclature.label
  %p
    - for format in [:xml, :json, :csv]
      = link_to(format.to_s.upcase, {format: format}, class: "label label-primary")


%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= Item.human_attribute_name(:label)
      %th= Item.human_attribute_name(:name)
      -# %th= Item.human_attribute_name(:description)
  %tbody
    - for item in @nomenclature.items.localized
      %tr
        %td= item.label
        %td
          = state_icon(item)
          %strong= item.name
        -# %td= item.description
